{% extends 'base.html' %}

{% block title %} Entrar {% endblock %}

{% block page_title %} Entrar {% endblock %}

{% block content %}
<div class="login-box" style="margin-left: 40%; padding-top: 5%">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="/" class="h1"><b>Login</b></a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Faça login para iniciar sua sessão</p>

            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                {% for msg in messages %}
                    {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-message alert-danger" role="alert" style="margin-left: 12px; margin-right: 16px;">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            {{msg|safe}}
                        </div>
                    {% elif msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert alert-message alert-success" role="alert" style="margin-left: 12px; margin-right: 16px;">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            {{msg|safe}}
                        </div>
                    {% elif msg.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                        <div class="alert alert-message alert-info" role="alert" style="margin-left: 12px; margin-right: 16px;">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            {{msg|safe}}
                        </div>
                    {% elif msg.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                        <div class="alert alert-message alert-warning" role="alert" style="margin-left: 12px; margin-right: 16px;">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            {{msg|safe}}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="username" placeholder="Insira seu usuário">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Insira sua senha">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <label for="remember">
                                Lembrar-me
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.login-box -->

{% endblock %}