<div class="modal fade" id="plant-new-tree-{{ account.id|default:'default-modal'  }}" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{% url 'plant_new_tree' %}" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="login-box-msg">Plantar uma nova Árvore</p>
                    {% csrf_token %}
                    {% if account.id %}
                        <input name="account" value="{{ account.id }}" hidden>
                    {% else %}
                        <label>Conta:</label>
                        <select class="form-control" name="account" required>
                            <option value="" selected="">---------------</option>
                                {% for account in user_accounts %}
                                    <option value="{{ account.id }}">{{ account.name }}</option>
                                {% endfor %}
                        </select>
                    {% endif %}
                    <label>Árvore:</label>
                    <select class="form-control" name="tree" required>
                        <option value="" selected="">---------------</option>
                            {% for tree in tree_list %}
                                <option value="{{ tree.id }}">{{ tree }}</option>
                            {% endfor %}
                    </select>
                    <label>Latitude:</label>
                    <input type="text" class="form-control" name="latitude" placeholder="12.12345" pattern="^\d{2}\.\d{5}$" title="O formato da coordenada deve ser: 12.12345" required>
                    <label>Longitude:</label>
                    <input type="text" class="form-control" name="longitude" placeholder="12.12345" pattern="^\d{2}\.\d{5}$" title="O formato da coordenada deve ser: 12.12345" required>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="submit" class="btn button-color">Salvar</button>
                    <a class="btn btn-danger" data-dismiss="modal">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="register-new-tree" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{% url 'create_new_tree' %}" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="login-box-msg">Plantar uma nova Árvore</p>
                    {% csrf_token %}
                    <label>Nome:</label>
                    <input type="text" class="form-control" name="name" placeholder="Nome" required>
                    <label>Nome Científico:</label>
                    <input type="text" class="form-control" name="scientific_name" placeholder="Nome Científico" required>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="submit" class="btn button-color">Salvar</button>
                    <a class="btn btn-danger" data-dismiss="modal">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>