{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<style>

</style>
<section>
    <div class="content">
        <div class="container-fluid">
            <div class="col-mb-2">
                <h1 style="padding: 20px; text-align: center; color: white"><b>Bem vindo: {{ user.username }}!</b></h1>
            </div>
            <br>
            <div class="row mb-12" style="margin-top: 15px">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-color">
                            <div class="card-tools">
                                <div class="custom-small-box">
                                    <a data-toggle="modal" data-target="#plant-new-tree-default-modal"
                                       style="padding: 5px 10px; cursor: pointer">
                                        + Plantar nova Árvore
                                    </a>
                                </div>
                            </div>
                            <div class="card-tools" style="margin-right: 10px">
                                <div class="custom-small-box">
                                    {% include 'plant-new-tree-modal.html' %}
                                    <a data-toggle="modal" data-target="#register-new-tree"
                                       style="padding: 5px 10px; cursor: pointer">
                                        + Registrar nova Árvore
                                    </a>
                                </div>
                            </div>
                            <h3 class="bold">Árvores plantadas por você</h3>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Idade</th>
                                        <th>Conta</th>
                                        <th>Nome</th>
                                        <th>Nome Científico</th>
                                        <th>Data do plantio</th>
                                        <th>Localização</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if not user_trees %}
                                        <tr style="background-color: gray">
                                            <td colspan="8" align="center" style="color: red">
                                                <b>
                                                    Nenhum registro encontrado
                                                </b>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% for tree in user_trees %}
                                        {% include 'detail-plant-tree-modal.html' %}
                                        <tr>
                                            <td># {{ tree.id }}</td>
                                            <td>{{ tree.age }}</td>
                                            <td>{{ tree.account }}</td>
                                            <td>{{ tree.tree.name }}</td>
                                            <td>{{ tree.tree.scientific_name }}</td>
                                            <td>{{ tree.created_at | date:"d/m/Y" }}</td>
                                            <td>{{ tree.location }}</td>
                                            <td>
                                                <a data-toggle="modal" data-target="#detail-plant-tree-{{ tree.id }}"
                                                   style="cursor: pointer">
                                                    <i class="fas fa-eye btn-edit"></i>
                                                </a>
                                                <a href="{% url 'delete_plant_tree' tree.id %}" style="margin-left: 20px">
                                                    <i class="fas fa-trash btn-delete"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
</script>
{% endblock %}